bin
obj
WPv023/
*.suo
*.ogg
*.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
Thumbs.db
WarpPlugin.v12.suo
.vs
GameData/Kerbal-Interstellar-Technologies/Plugins/*
KerbalInterstellarTechnologies/KerbalInterstellarTechnologies
/KerbalInterstellarTechnologies/GameData
/Unity/8.1
/GameData/Kerbal-Interstellar-Technologies/Parts/Testing
/GameData/Kerbal-Interstellar-Technologies/Testing
